<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./assets/style/main.css" />
    <title> LeTurminha - Como Cadastrar </title>
</head>
<body>
    <header  class="container-fluid d-flex flex-row align-items-center cor-de-fundo-header justify-content-center">
        <div class="container row justify-content-between">
            <div>
                <a href="./index.html"> <img src="./assets/img/logo-leturminha.png" /> </a>
            </div>
            <div class="d-flex align-items-center">
                <nav>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active cor-link" href="./nossoProjeto.html">Como usar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cor-link" href="ProfessorMakeAndSearch">Professor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cor-link" href="AlunoMakeAndSearch">Aluno</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cor-link" href="CardMakeAndSearch">Cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cor-link" href="./partidaMemoriaJogo.html">Jogo da Memória</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link active cor-link" href="PartidaMemoriaMakeAndSearch">Ver Resultados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cor-link" href="./sobre.html">Sobre nós</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section>
    		<div class="container d-flex align-items-center justify-content-center py-3">
    		    <nav>
                    <ul class="nav px-5">
                        <li class="nav-item">
                            <a class="nav-link active cor-link2" href="./nossoProjeto.html">Sobre o projeto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cor-link2" href="./comoUsar.html">Professor, veja como usar!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cor-link2" href="./comoCadastrar.html">Como cadastrar professor/aluno</a>
                        </li>
                    </ul>
                </nav>
            </div>
    	</section>
    	<section class="container">
	    	<div>
	    		<div class="cold-md-7 py-3">
					<h3 class="titulo-aba d-flex justify-content-center">Como cadastrar professor/aluno</h3>
				</div>
				<div class="py-3">
					<p class="pb-2"> No menu no canto superior, existe as seguintes opções:
					  </p>
					 <p> <i>1)</i> <b>Professor:</b> para cadastrar um ou mais professores (no caso de escola) que possuíra senha e login 
					 para cadastrar seus alunos.
					 </p>
					 <p> <i>2)</i> <b>Aluno:</b> o professor poderá cadastrar os alunos da sua turma para que possa  acompanhar o
					  resultado das partidas.
					 </p>
				</div>
				<div class="container d-flex flex-row justify-content-center py-3">
					<div class="container d-flex justify-content-center">
		            	<img class="imagem-anexo" src="./assets/img/anexo03.png" />
	            	</div>
				</div>
				<div class="py-3">
					<p class="pb-2">Depois de cadastrar professor, aluno e os cards já poderemos jogar!
					 </p>
					 <p> <i>3)</i> <b>Jogo da Memória</b>: inicia o jogo.
					  </p>
					 <p> <i>4)</i> <b>Ver resultados</b>: o professor poderá consultar todos os resultados obtidos das partidas que
					  ficaram guardados em nosso banco de dados.
					 </p>
				</div>
				<div class="container d-flex flex-row justify-content-center py-3">
	                <div>
	            		<img class="imagem-conteudo mascote-pequeno inverter-foto"  src="./assets/img/mascote4.png" />
	            	</div>
					<div>
		            	<img src="./assets/img/balao08.png" />
	            	</div>
				</div>
				<div class="container d-flex flex-row justify-content-center py-3">
					<div>
		            	<img src="./assets/img/balao09.png" />
	            	</div>
	                <div>
	            		<img class="imagem-conteudo mascote-pequeno"  src="./assets/img/mascote2.png" />
	            	</div>
				</div>
	    	</div>
        </section>
    </main>
    <footer>
        <p class="container-fluid d-flex flex-row cor-de-fundo-footer">
            Copyright © 2022 Recode. Todos os direitos reservados.
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>